<tr>
	<td><%= "Company ##{company.id}" %></td>
	<td><strong><%= company.name %></strong></td>
	<td><strong><a href="#" data-company-id="<%= company.id %>" class="company_info_show">view operations</a></strong></td>
</tr>


































