
<table class="table table-striped">
  <tbody>
	  <tr>
	    <td><%= render "operations", company: @company %></td>
	    <td><%= render "statistics", company: @company %></td>
	  </tr>
  </tbody>
</table>
