- model_class = Company
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
#companies_list
  .row
    p
      | Loading Companies.... #{image_tag "loader.gif"}
= hidden_field_tag "current_page", params[:page] || 1
